<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">Login</div>
        <div class="panel-body">
          <form
            class="form-horizontal"
            role="form"
            method="POST"
            action=""
            (ngSubmit)="onSubmit()"
            #loginForm="ngForm"
          >
            <div class="form-group">
              <label for="email" class="col-md-4 control-label"
                >E-Mail Address</label
              >

              <div class="col-md-6">
                <input
                  id="email"
                  type="email"
                  class="form-control"
                  name="email"
                  value=""
                  required
                  email
                  autofocus=""
                  [(ngModel)]="email"
                  #emailI="ngModel"
                />
                <div
                  class="alert alert-danger"
                  *ngIf="emailI.touched && emailI.invalid && emailI.errors.required "
                >
                  Email is required.
                </div>
                <div
                  class="alert alert-danger"
                  *ngIf="emailI.touched && emailI.invalid && emailI.errors.email"
                >
                  enter email.
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="password" class="col-md-4 control-label"
                >Password</label
              >

              <div class="col-md-6">
                <input
                  id="password"
                  type="password"
                  class="form-control"
                  name="password"
                  required
                  [(ngModel)]="password"
                  #passwordI="ngModel"
                  minlength="6"
                />
                <div
                  class="alert alert-danger"
                  *ngIf="
                    passwordI.touched &&
                    passwordI.invalid &&
                    passwordI.errors.required
                  "
                >
                  Password is required.
                </div>
                <div
                  class="alert alert-danger"
                  *ngIf="
                    passwordI.touched &&
                    passwordI.invalid &&
                    passwordI.errors.minlength
                  "
                >
                  Password is too short.
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-6 col-md-offset-4">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="remember" /> Remember Me
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-8 col-md-offset-4">
                <button
                  type="submit"
                  class="btn btn-primary"
                  [disabled]="!loginForm.form.valid"
                >
                  Login
                </button>

                <a class="btn btn-link" href="">
                  Forgot Your Password?
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
