<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>
            Edit Post

            <a href="/admin/posts" class="btn btn-default pull-right"
              >Go Back</a
            >
          </h2>
        </div>

        <div  class="panel-body">
          <form
            method="POST"
            action="/admin/posts/1"
            accept-charset="UTF-8"
            class="form-horizontal"
            role="form"
            [formGroup]="editPostForm"
            (ngSubmit)="onSubmit()"
          >
            <div class="form-group">
              <label for="title" class="col-md-2 control-label">Title</label>

              <div class="col-md-8">
                <input
                  class="form-control"
                  required="required"
                  autofocus="autofocus"
                  name="title"
                  type="text"
                  id="title"
                  formControlName="title"


                />
                <div
                  class="alert alert-danger"
                  *ngIf="
                  editPostForm.controls.title.invalid &&
                  editPostForm.controls.title.touched
                  "
                >
                  <div *ngIf="editPostForm.controls.title.errors.required">
                    Title is required!
                  </div>
                </div>

                <span class="help-block">
                  <strong></strong>
                </span>
              </div>
            </div>

            <div class="form-group">
              <label for="body" class="col-md-2 control-label">Body</label>

              <div class="col-md-8">
                <textarea
                  class="form-control"
                  required="required"
                  name="body"
                  cols="50"
                  rows="10"
                  id="body"
                  formControlName="body"
                >
              </textarea>

                <div
                  class="alert alert-danger"
                  *ngIf="
                  editPostForm.controls.body.invalid &&
                  editPostForm.controls.body.touched
                  "
                >
                  <div *ngIf="editPostForm.controls.body.errors.required">
                    Title is required!
                  </div>
                </div>

                <span class="help-block">
                  <strong></strong>
                </span>
              </div>
            </div>

            <div class="form-group">
              <label for="category_id" class="col-md-2 control-label"
                >Category</label
              >

              <div class="col-md-8">
                <select
                  class="form-control"
                  required="required"
                  id="category_id"
                  name="category_id"
                  formControlName="category"
                  ><option value="1">sedd</option
                  ><option value="2">ut</option
                  ><option value="3">id</option
                  ><option value="4">occaecati</option
                  ><option value="5">sint</option
                  ><option value="6">quia</option
                  ><option value="7" selected="selected">ipsum</option
                  ><option value="8">quisquam</option
                  ><option value="9">unde</option
                  ><option value="10">voluptatum</option></select
                >
                <div
                  class="alert alert-danger"
                  *ngIf="
                  editPostForm.controls.category.invalid &&
                  editPostForm.controls.category.touched
                  "
                >
                  <div *ngIf="editPostForm.controls.category.errors.required">
                    Title is required!
                  </div>
                </div>

                <span class="help-block">
                  <strong></strong>
                </span>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-8 col-md-offset-2">
                <button type="submit" class="btn btn-primary" [disabled]="!editPostForm.valid">
                  Update
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
