<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">Register</div>
        <div class="panel-body">
          <form
            class="form-horizontal"
            role="form"
            method="POST"
            action=""
            [formGroup]="registerForm"
            (ngSubmit)="onSubmit()"
          >
            <div class="form-group">
              <label for="name" class="col-md-4 control-label">Name</label>
              <div class="col-md-6">
                <input
                  id="name"
                  type="text"

                  class="form-control"
                  value=""
                  required
                  autofocus=""
                  formControlName="name"
                />
                <div
                  class="alert alert-danger"
                  *ngIf="
                    registerForm.controls.name.invalid &&
                    registerForm.controls.name.touched
                  "
                >
                  <div *ngIf="registerForm.controls.name.errors.required">
                    Name is required!
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="email" class="col-md-4 control-label"
                >E-Mail Address</label
              >

              <div class="col-md-6">
                <input
                  id="email"
                  type="email"
                  class="form-control"
                  name="email"
                  value=""
                  required
                  formControlName="email"
                />
                <div
                  class="alert alert-danger"
                  *ngIf="
                    registerForm.controls.email.invalid &&
                    registerForm.controls.email.touched
                  "
                >
                <div *ngIf="registerForm.controls.email.errors.required">
                  Email is required!
                </div>
                <div *ngIf="registerForm.controls.email.errors.email">
                  please enter a valid email!
                </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="password" class="col-md-4 control-label"
                >Password</label
              >

              <div class="col-md-6">
                <input
                  id="password"
                  type="password"
                  class="form-control"
                  name="password"
                  required
                  formControlName="password"
                />
                <div
                  class="alert alert-danger"
                  *ngIf="
                    registerForm.controls.password.invalid &&
                    registerForm.controls.password.touched
                  "
                >
                  <div *ngIf="registerForm.controls.password.errors.required">
                    password is required!
                  </div>
                  <div *ngIf="registerForm.controls.password.errors.minlength">
                    too Short!
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="password-confirm" class="col-md-4 control-label"
                >Confirm Password</label
              >
              <div class="col-md-6">
                <input
                  id="password-confirm"
                  type="password"
                  class="form-control"
                  name="password_confirmation"
                  required
                  notSame
                  formControlName="passConf"
                />
                <div
                  class="alert alert-danger"
                  *ngIf="
                    registerForm.controls.passConf.invalid &&
                    registerForm.controls.passConf.touched
                  "
                >
                  <div *ngIf="registerForm.controls.passConf.errors.required">
                    passConf is required!
                  </div>
                  <div *ngIf="registerForm.errors.notSame">
                    passConf not match!!
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-6 col-md-offset-4">
                <button
                  type="submit"
                  class="btn btn-primary"
                  [disabled]="!registerForm.valid"
                >
                  Register
                </button>
                {{registerForm.valid}}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
